<aside class="sidebar">
  <div class="menu">
    <ul>
      <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
      <!-- <li><a routerLink="/activate-page" routerLinkActive="active">Activate</a></li> -->
   <li>
  <a 
    routerLink="/activate-page" 
    routerLinkActive="active" 
    [class.disabled]="isActive"
    [style.pointerEvents]="isActive ? 'none' : 'auto'">    
    {{ isActive ? 'Activated' : 'Activate' }}    
  </a>
</li>
<li><a routerLink="/info" routerLinkActive="active">Info</a></li>
<li><a routerLink="/setting" routerLinkActive="active">Settings</a></li>
<li><a routerLink="/product" routerLinkActive="active">Product</a></li>
</ul>
</div>

  <!-- <div class="footer">
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div> -->
</aside>
